<div class="block full">
  <div class="block-title">
    <h2><strong>Danh sách giảng viên</strong></h2>
  </div>
  <div class="row">
    <%= form_tag import_admin_lecturers_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import", class: "btn btn-success" %>
    <% end %>
  </div>
  <br>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-vcenter table-striped table-bordered">
        <tdead>
          <tr>
            <th class="text-center"><strong>STT</strong></th>
            <th class="text-center"><strong>Mã giảng viên</strong></th>
            <th class="text-center"><strong>Họ và tên</strong></th>
            <th class="text-center"><strong>Email</strong></th>
            <th class="text-center"><strong>Ngày sinh</strong></th>
            <th class="text-center"><strong>Giới tính</strong></th>
            <th class="text-center"><strong>Số điện thoại</strong></th>
            <th class="text-center"><strong></strong></th>
          </tr>
        </tdead>
        <tbody>
          <%= render @lecturers %>
        </tbody>
      </table>
      <div class="text-center">
        <%= paginate @lecturers %>
      </div>
    </div>
  </div>
</div>
