<div class="block full">
  <div class="block-title row">
    <div class="col-md-8">
      <h2><strong>Danh sách giảng viên</strong></h2>
    </div>
    <div class="col-md-4">
      <%= text_field_tag :lecturer_search, params[:lecturer_search],
        placeholder: "Tìm kiếm...", class: "form-control search-box", style:"margin: 5px" %> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= link_to new_admin_lecturer_path, class:"btn btn-success" do %>
        <i class="fa fa-plus"></i>
        Thêm giảng viên
      <% end %>
    </div>
    <div class="col-md-4">
      <%= form_tag import_admin_lecturers_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-vcenter table-striped table-bordered">
        <tdead>
          <tr>
            <th class="text-center"><strong>STT</strong></th>
            <th class="text-center"><strong>Mã giảng viên</strong></th>
            <th class="text-center"><strong>Họ và tên</strong></th>
            <th class="text-center"><strong>Email</strong></th>
            <th class="text-center"><strong>Ngày sinh</strong></th>
            <th class="text-center"><strong>Giới tính</strong></th>
            <th class="text-center"><strong>Số điện thoại</strong></th>
            <th class="text-center"><strong></strong></th>
          </tr>
        </tdead>
        <tbody class="list-lecturers">
          <%= render partial: "lecturer", locals: {lecturers: @lecturers} %>
        </tbody>
      </table>
      <div class="text-center">
        <%= paginate @lecturers %>
      </div>
    </div>
  </div>
</div>
