<%= form_for @student, url: student_profile_path, method: :patch, html: {multipart: true, 
  class: "form-horizontal"} do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="control-group">
    <%= f.label :student_id, "Mã sinh viên" %>
    <%= f.text_field :student_id, disabled: true, class: "form-control" %>
  </div>
  <br>
  <div class="control-group">
    <%= f.hidden_field :password, value: "123456" %>
  </div>
  <br>
  <div class="control-group">
    <%= f.label :name, "Họ và tên" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <br>
  <div class="control-group">
    <%= f.label :email, "Email" %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <br>
  <div class="control-group">
    <%= f.label :gender, "Giới tính" %>    
    <%= f.radio_button :gender, :male, :checked => true %> 
    <%= label :gender, "Nam" %>
    <%= f.radio_button :gender, :female %>
    <%= label :gender, "Nữ" %>
  </div>
  <br>
  <div class="control-group">
    <%= f.label :birthday, "Ngày sinh" %>
    <%= f.date_field :birthday, value: f.object.birthday, class: "form-control" %>
  </div>
  <br>
  <div class="control-group">
    <%= f.label :phone, "Số điện thoại" %>
    <%= f.text_field :phone, class: "form-control" %>
  </div>
  <br>
  <div class="control-group">
    <%= f.label :address, "Địa chỉ" %>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <br>
  <div class="control-group">
    <%= f.label :second_language, "Ngôn ngữ thứ 2" %>
    <%= f.text_field :second_language, class: "form-control" %>
  </div>
  <br>
  <div class="control-group">
    <%= f.label :ethnic_id, "Dân tộc" %>
    <%= f.select :ethnic_id, options_for_select(
      @ethnics.collect{|ethnic| [ethnic.name, ethnic.id]},
      selected: f.object.ethnic_id), {}, {class: "form-control"} %>
  </div>
  <br>
  <div class="control-group">
    <%= f.label :national_id, "Quốc tịch" %>
    <%= f.select :national_id, options_for_select(
      @nationals.collect{|national| [national.name, national.id]},
      selected: f.object.national_id), {}, {class: "form-control"} %>
  </div>
  <br>
  <div class="control-group">
    <%= f.label :student_class_id, "Lớp" %>
    <%= f.select :student_class_id, options_for_select(
      @student_classes.collect{|student_class| [student_class.name, student_class.id]},
      selected: f.object.student_class_id), {}, {class: "form-control"} %>
  </div>
  <br>
  <div class="control-group">
    <%= f.label :course_id, "Khóa" %>
    <%= f.select :course_id, options_for_select(
      @courses.collect{|course| [course.name, course.id]},
      selected: f.object.course_id), {}, {class: "form-control"} %>
  </div>
  <br>
  <div class="control-group">
    <%= f.label :specialization_id, "Ngành" %>
    <%= f.select :specialization_id, options_for_select(
      @specializations.collect{|specialization| [specialization.name, specialization.id]},
      selected: f.object.specialization_id), {}, {class: "form-control"} %>
  </div>
  <br>
  <div class="control-group">
    <%= f.label :religion_id, "Tôn giáo" %>
    <%= f.select :religion_id, options_for_select(
      @religions.collect{|religion| [religion.name, religion.id]},
      selected: f.object.religion_id), {}, {class: "form-control"} %>
  </div>
  <br>
  <div class="control-group">
    <%= f.label :regency_id, "Chức vụ" %>
    <%= f.select :regency_id, options_for_select(
      @regencies.collect{|regency| [regency.name, regency.id]},
      selected: f.object.regency_id), {}, {class: "form-control"} %>
  </div>
  <br>
  <div class="control-group" id="avatar_image">
    <%= f.label :avatar, "Ảnh đại diện" %>
    <%= f.file_field :avatar, accept: "image/jpeg,image/gif,image/png" %>
  </div>
  <br>
  <div class="form-actions">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <%= link_to "Hủy bỏ", student_profiles_path, class: "btn btn-default" %>
  </div>
  <br>
<% end %>
