<%= form_for [:admin, @curriculum] , html: {multipart: true, 
  class: "form-horizontal"} do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="control-group">
    <%= f.label :curriculum_id, "Mã chương trình đào tạo" %>
    <%= f.text_field :curriculum_id, class: "form-control" %>
  </div>
  <br>
  <div class="control-group">
    <%= f.label :name, "Tên chương trình đào tạo" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <br>
  <div class="control-group">
    <%= f.label :faculty_id, "Khoa" %>
    <%= f.select :faculty_id, options_for_select(
      @faculties.collect{|faculty| [faculty.name, faculty.id]},
      params[:faculty_id]), {}, {class: "form-control"} %>
  </div>
  <br>
  <div class="form-actions">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <%= link_to "Hủy bỏ", admin_curriculums_path, class: "btn btn-default" %>
  </div>
  <br>
<% end %>
