<div class="block full">
  <div class="block-title">
    <h2><strong>Danh sách học phần</strong></h2>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= link_to new_admin_curriculum_curriculum_subject_path(@curriculum), class:"btn btn-success" do %>
        <i class="fa fa-plus"></i>
        Thêm học phần
      <% end %>
    </div>
    <div class="col-md-4">
      <%= form_tag import_admin_curriculum_curriculum_subjects_path(@curriculum), multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
  <br>
  <div class="row text-center">
    <% if @curriculum_subjects.any? %>
      <div class="table-responsive">
      <div class="col-md-12">
        <table class="table table-vcenter table-striped table-bordered">
          <tdead>
            <tr>
              <th class="text-center"><strong>STT</strong></th>
              <th class="text-center"><strong>Học kỳ</strong></th>
              <th class="text-center"><strong>Mã học phần</strong></th>
              <th class="text-center"><strong>Tên học phần</strong></th>
              <th class="text-center"><strong>Số tín chỉ</strong></th>
              <th class="text-center"><strong>Tự chọn</strong></th>
              <th class="text-center"><strong>HP tiên quyết</strong></th>
              <th class="text-center"><strong>HP học trước</strong></th>
              <th class="text-center"><strong>Song hành với HP</strong></th>
              <th></th>
            </tr>
          </tdead>
            <% if @curriculum_subjects.any? %>
              <% @curriculum_subjects.each_with_index do |curriculum_subject, index| %>
                <tr>
                  <td class="text-center"><%= index + 1 %></td>
                  <td class="text-center"><%= curriculum_subject.semester %></td>
                  <td class="text-center"><%= curriculum_subject.subject.subject_id %></td>
                  <td class="text-left"><%= curriculum_subject.subject.name %></td>
                  <td class="text-center"><%= curriculum_subject.subject.num_of_credit %></td>
                  <td class="text-center">
                    <% if curriculum_subject.subject.is_elective? %>
                      Có
                    <% else %>
                      Không
                    <% end %>
                  </td>
                  <td class="text-center">
                    <%= get_name_of_subject curriculum_subject.subject.prerequisite_subject_id %>
                  </td>
                  <td class="text-center">
                    <%= get_name_of_subject curriculum_subject.subject.study_first_subject_id %>
                  </td>
                  <td class="text-center">
                    <%= get_name_of_subject curriculum_subject.subject.parallel_subject_id %>
                  </td>
                  <td class="text-center">
                    <div class="btn-group">
                      <%= link_to edit_admin_curriculum_curriculum_subject_path(@curriculum), class:"btn btn-xs btn-default" do %>
                        <i class="fa fa-pencil"></i>
                      <% end %>
                      <%= link_to admin_curriculum_curriculum_subject_path(@curriculum, curriculum_subject), method: :delete,
                        data: {confirm: "Bạn muốn xóa học phần này? "}, 
                        class:"btn btn-xs btn-danger" do %>
                        <i class="fa fa-times"></i>
                      <% end %>
                    </div>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      </div>
    <% end %>
  </div>
</div>
