<div class="container">
  <section id="content" style="margin-top: 150px;">
    <h1>Đăng nhập</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div>
        <%= f.email_field :email, id: "username", required: "", placeholder: "Email" %>
      </div>
      <div>
        <%= f.password_field :password, placeholder: "Mật khẩu", id: "password" %>
      </div>
      <div class="row col-md-offset-4">
        <%= f.submit "Đăng nhập" %>
      </div>
      <div class="flash-notification">
        <%= render "layouts/flash" %>
      </div>
    <% end %>
  </section>
</div>
