<tr>
  <td class="text-center"><%= index_for student_counter, @students.current_page, 30 %></td>
  <td class="text-center">
    <%= link_to admin_student_path student do %>
      <%= student.student_id %>
    <% end %>
  </td>
  <td class="text-center">
    <%= link_to admin_student_path student do %>
      <%= student.name %>
    <% end %>
  </td>
  <td class="text-center"><%= student.email %></td>
  <td class="text-center"><%= student.birthday %></td>
  <td class="text-center"><%= student.gender %></td>
  <td class="text-center"><%= student.phone %></td>
  <td class="text-center"><%= student.student_class.name unless student.student_class.nil? %></td>
  <td class="text-center">
    <div class="btn-group">
      <%= link_to edit_admin_student_path(student), class:"btn btn-xs btn-default" do %>
        <i class="fa fa-pencil"></i>
      <% end %>
      <%= link_to [:admin, student], method: :delete,
        data: {confirm: "Bạn muốn xóa sinh viên này? "}, 
        class:"btn btn-xs btn-danger" do %>
        <i class="fa fa-times"></i>
      <% end %>
    </div>
  </td>
</tr>
