<div class="block full">
  <div class="block-title row">
    <div class="col-md-8">
      <h2><strong>Danh sách sinh viên</strong></h2>
    </div>
    <div class="col-md-4">
      <%= text_field_tag :student_search, params[:student_search],
        placeholder: "Tìm kiếm...", class: "form-control search-box", style:"margin: 5px" %> 
    </div>
  </div>
  <div class="row">
    <%= form_tag import_admin_students_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import", class: "btn btn-success" %>
    <% end %>
  </div>
  <br>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-vcenter table-striped table-bordered">
        <tdead>
          <tr>
            <th class="text-center"><strong>STT</strong></th>
            <th class="text-center"><strong>Mã sinh viên</strong></th>
            <th class="text-center"><strong>Họ và tên</strong></th>
            <th class="text-center"><strong>Email</strong></th>
            <th class="text-center"><strong>Ngày sinh</strong></th>
            <th class="text-center"><strong>Giới tính</strong></th>
            <th class="text-center"><strong>Số điện thoại</strong></th>
            <th class="text-center"><strong>Lớp sinh hoạt</strong></th>
            <th></th>
          </tr>
        </tdead>
        <tbody class="list-students">
          <%= render partial: "student", locals: {students: @students} %>
        </tbody>
      </table>
      <div class="text-center">
        <%= paginate @students %>
      </div>
    </div>
  </div>
</div>
