<div class="block full">
  <div class="block-title">
    <h2><strong>Danh sách sinh viên lớp học phần</strong></h2>
  </div>

  <div class="row">
    <div class="row">
      <div class="col-md-2 left">
        <span>Mã lớp học phần:</span>
      </div>
      <div class="col-md-3 left">
        <strong><%= @class_subject.class_subject_id %></strong>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 left">
        <span>Tên học phần:</span>
      </div>
      <div class="col-md-3 left">
        <strong><%= @class_subject.lecturer_subject.subject.name %></strong>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 left">
        <span>Học kỳ:</span>
      </div>
      <div class="col-md-3 left">
        <strong><%= @class_subject.semester.name %></strong>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 left">
        <span>Năm học:</span>
      </div>
      <div class="col-md-3 left">
        <strong><%= @class_subject.semester.begin_time %>-<%= @class_subject.semester.end_time %></strong>
      </div>
    </div>
    <br>
      <%= link_to scoring_lecturer_class_subject_subject_scores_path(@class_subject) do %>
        <span class="btn btn-primary">Tính điểm</span>
      <% end %>
    <br>
    <br>
    <div class="table-responsive">
      <table class="table table-vcenter table-striped table-bordered">
        <tdead>
          <tr>
            <th class="text-center" rowspan="2"><strong>STT</strong></th>
            <th class="text-center" rowspan="2"><strong>Mã sinh viên</strong></th>
            <th class="text-center" rowspan="2"><strong>Họ và tên</strong></th>
            <th class="text-center" rowspan="2"><strong>Ngày sinh</strong></th>
            <th class="text-center" rowspan="2"><strong>Giới tính</strong></th>
            <th class="text-center" rowspan="2"><strong>Lớp SH</strong></th>
            <th class="text-center" colspan="<%= @exercise_score.sub_scores.count %>">Điểm bài tập</th>
            <th class="text-center" colspan="<%= @mid_semester_score.sub_scores.count %>">Điểm giữa kỳ</th>
            <th class="text-center" colspan="<%= @end_semester_score.sub_scores.count %>">Điểm cuối kỳ</th>
            <th class="text-center" rowspan="2"><strong>Điểm T10</strong></th>
            <th class="text-center" rowspan="2"><strong>Điểm T4</strong></th>
            <th class="text-center" rowspan="2"><strong>Điểm chữ</strong></th>
          </tr>
          <tr>
            <% @exercise_score.sub_scores.oldest.each do |exercise_score| %>
              <th class="text-center"><%= exercise_score.name %></th>
            <% end %>
            <% @mid_semester_score.sub_scores.oldest.each do |mid_semester_score| %>
              <th class="text-center"><%= mid_semester_score.name %></th>
            <% end %>
            <% @end_semester_score.sub_scores.oldest.each do |end_semester_score| %>
              <th class="text-center"><%= end_semester_score.name %></th>
            <% end %>
          </tr>
        </tdead>
        <tbody>
          <% if @students.any? %>
            <% @students.each_with_index do |student, index| %>
              <tr>
                <td class="text-center"><%= index + 1 %></td>
                <td class="text-center"><%= student.student_id %></td>
                <td class="text-center"><%= student.name %></td>
                <td class="text-center"><%= student.birthday %></td>
                <td class="text-center">
                  <% if student.gender == :male %>
                    Nam
                  <% else %>
                    Nữ
                  <% end %>
                </td>
                <td class="text-center"><%= student.student_class.name %></td>
                <% @exercise_score.sub_scores.oldest.each do |exercise_score| %>
                  <td class="text-center">
                    <%= exercise_score.student_sub_scores.score_of_student(student.id).score unless exercise_score.student_sub_scores.score_of_student(student.id).blank? %>
                  </td>
                <% end %>
                <% @mid_semester_score.sub_scores.oldest.each do |mid_semester_score| %>
                  <td class="text-center">
                    <%= mid_semester_score.student_sub_scores.score_of_student(student.id).score unless mid_semester_score.student_sub_scores.score_of_student(student.id).blank? %>
                  </td>
                <% end %>
                <% @end_semester_score.sub_scores.oldest.each do |end_semester_score| %>
                  <td class="text-center">
                    <%= end_semester_score.student_sub_scores.score_of_student(student.id).score unless end_semester_score.student_sub_scores.score_of_student(student.id).blank? %>
                  </td>
                <% end %>
                <td class="text-center">
                  <%= @class_subject.student_class_subjects.score_of_student(student.id).avg_score unless @class_subject.student_class_subjects.score_of_student(student.id).blank? %>
                </td>
                <td class="text-center">
                  <%= @class_subject.student_class_subjects.score_of_student(student.id).gpa_score unless @class_subject.student_class_subjects.score_of_student(student.id).blank? %>
                </td>
                <td class="text-center">
                  <%= @class_subject.student_class_subjects.score_of_student(student.id).letter_score unless @class_subject.student_class_subjects.score_of_student(student.id).blank? %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>