<div class="block full">
  <div class="block-title">
    <h2><strong>Quản lý điểm</strong></h2>
  </div>

  <div class="row">
    <div class="row" style="margin-left: 40px">
      <div class="row" >
        <div class="col-md-2 left">
          <span>Mã lớp học phần:</span>
        </div>
        <div class="col-md-3 left">
          <strong><%= @class_subject.class_subject_id %></strong>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 left">
          <span>Tên học phần:</span>
        </div>
        <div class="col-md-3 left">
          <strong><%= @class_subject.lecturer_subject.subject.name %></strong>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 left">
          <span>Học kỳ:</span>
        </div>
        <div class="col-md-3 left">
          <strong><%= @class_subject.semester.name %></strong>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 left">
          <span>Năm học:</span>
        </div>
        <div class="col-md-3 left">
          <strong><%= @class_subject.semester.period %></strong>
        </div>
      </div>
    </div>
    <br>
    <% unless @class_subject.is_confirm? %>
      <%= link_to scoring_lecturer_class_subject_subject_scores_path(@class_subject) do %>
        <span class="btn btn-primary">Tính điểm</span>
      <% end %>

      <%= link_to scoring_lecturer_class_subject_subject_scores_path(@class_subject, confirm_params: 1) do %>
        <span class="btn btn-primary">Xác nhận điểm</span>
      <% end %>
    <% end %>
    <br>
    <br>
    <div class="table-responsive">
      <table class="table table-vcenter table-striped table-bordered">
        <tdead>
          <tr>
            <th class="text-center" rowspan="2"><strong>STT</strong></th>
            <th class="text-center" rowspan="2"><strong>Mã sinh viên</strong></th>
            <th class="text-center" rowspan="2"><strong>Họ và tên</strong></th>
            <th class="text-center" rowspan="2"><strong>Ngày sinh</strong></th>
            <th class="text-center" rowspan="2"><strong>Giới tính</strong></th>
            <th class="text-center" rowspan="2"><strong>Lớp SH</strong></th>
            <% if @scores.any? %>
              <% @scores.each do |score| %>
                <th class="text-center" colspan="<%= score.sub_scores.count %>">
                  <%= score.name %>
                </th>
              <% end %>
            <% end %>
            <th class="text-center" rowspan="2"><strong>Điểm T10</strong></th>
            <th class="text-center" rowspan="2"><strong>Điểm T4</strong></th>
            <th class="text-center" rowspan="2"><strong>Điểm chữ</strong></th>
          </tr>
          <tr>
            <% if @scores.any? %>
              <% @scores.each do |score| %>
                <% score.sub_scores.each do |sub_score| %>
                  <th class="text-center">
                    <%= sub_score.name %>
                  </th>
                <% end %>
              <% end %>
            <% end %>
          </tr>
        </tdead>
        <tbody class="tbody-score">
          <% if @students.any? %>
            <% @students.each_with_index do |student, index| %>
              <tr class="student-score" data-id="<%= student.id %>">
                <td class="text-center"><%= index + 1 %></td>
                <td class="text-center"><%= student.student_id %></td>
                <td class="text-center"><%= student.name %></td>
                <td class="text-center"><%= student.birthday.strftime("%d/%m/%Y") if student.birthday.present? %></td>
                <td class="text-center">
                  <% if student.gender == :male %>
                    Nam
                  <% else %>
                    Nữ
                  <% end %>
                </td>
                <td class="text-center"><%= student.student_class.name %></td>
                <% @scores.each do |score| %>
                  <% score.sub_scores.oldest.each do |sub_score| %>
                    <td class="text-center student-score-<%= student.id %>-<%= sub_score.id %>" contenteditable="true">
                      <%= sub_score.student_sub_scores.score_of_student(student.id).score unless sub_score.student_sub_scores.score_of_student(student.id).blank? %>
                    </td>
                  <% end %>
                <% end %>
              
                <td class="text-center">
                  <%= @class_subject.student_class_subjects.score_of_student(student.id).avg_score unless @class_subject.student_class_subjects.score_of_student(student.id).blank? %>
                </td>
                <td class="text-center">
                  <%= @class_subject.student_class_subjects.score_of_student(student.id).gpa_score unless @class_subject.student_class_subjects.score_of_student(student.id).blank? %>
                </td>
                <td class="text-center">
                  <%= @class_subject.student_class_subjects.score_of_student(student.id).letter_score unless @class_subject.student_class_subjects.score_of_student(student.id).blank? %>
                </td>
              </tr>
            <% end %>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

                <% @scores.each do |score| %>
                  <% score.sub_scores.oldest.each do |sub_score| %>
                    <td class="text-center">
                      <% if !sub_score.is_confirm? && !@class_subject.is_confirm? %>
                        <div class="btn-group">
                          <button class="btn btn-xs btn-default save-score" data-sub_score_id="<%= sub_score.id %>">
                            <i class="fa fa-save"></i>
                          </button>
                          <button class="btn btn-xs btn-danger confirm-score" data-sub_score_id="<%= sub_score.id %>">
                            <i class="fa fa-send"></i>
                          </button>
                        </div>
                      <% end %>
                    </td>
                  <% end %>
                <% end %>

                <td></td>
                <td></td>
                <td></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>