<div class="block full">
  <div class="block-title row">
    <div class="col-md-8">
      <h2><strong>Danh sách lớp học phần</strong></h2>
    </div>
    <div class="col-md-4">
      <%= text_field_tag :class_subject_search, params[:class_subject_search],
        placeholder: "Tìm kiếm...", class: "form-control search-box", style:"margin: 5px" %> 
    </div>
  </div>
  <div class="row col-md-offset-1">
    <div class="col-md-4">
      <%= link_to new_admin_class_subject_path, class:"btn btn-success" do %>
        <i class="fa fa-plus"></i>
        Thêm lớp học phần
      <% end %>
    </div>
    <div class="col-md-4">
      <%= form_tag import_admin_class_subjects_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
  <br>
  <div class="row text-center">
    <% if @class_subjects.present? %>
      <div class="table-responsive">
      <div class="col-md-10 col-md-offset-1">
        <table class="table table-vcenter table-striped table-bordered">
          <tdead>
            <tr>
              <th class="text-center"><strong>STT</strong></th>
              <th class="text-center"><strong>Mã lớp học phần</strong></th>
              <th class="text-center"><strong>Học phần</strong></th>
              <th class="text-center"><strong>Giảng viên</strong></th>
              <th class="text-center"><strong>Học kỳ</strong></th>
              <th class="text-center"><strong>Danh sách lớp</strong></th>
              <th class="text-center"><strong>Quản lý điểm</strong></th>
              <th></th>
            </tr>
          </tdead>
          <tbody class="list-class-subjects">
            <%= render partial: "class_subject", locals: {class_subjects: @class_subjects} %>
          </tbody>
        </table>
        <%= paginate @class_subjects %>
      </div>
      </div>
    <% end %>
  </div>
</div>
