<div class="block full">
  <div class="block-title">
    <h2><strong>Thông tin lớp học phần</strong></h2>
  </div>
  <div class="row">
    <div style="margin-left: 40px;">
      <div class="row">
        <div class="col-md-2 left">
          <span>Mã lớp học phần:</span>
        </div>
        <div class="col-md-3 left">
          <strong><%= @class_subject.class_subject_id %></strong>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 left">
          <span>Tên học phần:</span>
        </div>
        <div class="col-md-3 left">
          <strong><%= @class_subject.lecturer_subject.subject.name %></strong>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 left">
          <span>Loại học phần:</span>
        </div>
        <div class="col-md-3 left">
          <strong>
            <% if @class_subject.lecturer_subject.subject.theory? %>
              Lý thuyết
            <% elsif @class_subject.lecturer_subject.subject.practice? %>
              Thực hành
            <% elsif @class_subject.lecturer_subject.subject.project? %>
              Đồ án
            <% elsif @class_subject.lecturer_subject.subject.intership? %>
              Thực tập
            <% end %>
          </strong>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 left">
          <span>Học kỳ:</span>
        </div>
        <div class="col-md-3 left">
          <strong><%= @class_subject.semester.name %></strong>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 left">
          <span>Năm học:</span>
        </div>
        <div class="col-md-3 left">
          <strong><%= @class_subject.semester.period %></strong>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 left">
          <span>Giảng viên:</span>
        </div>
        <div class="col-md-3 left">
          <strong><%= @class_subject.lecturer_subject.lecturer.name %></strong>
        </div>
      </div>
      <br>
      <div>
        <%= link_to new_admin_class_subject_student_class_subject_path @class_subject do %>
          <span class="btn btn-success">Thêm sinh viên</span>
        <% end %>
      </div>
      <%= link_to admin_class_subject_scores_path @class_subject do %>
        <span class="btn btn-primary">Quản lý điểm</span>
      <% end %>
      <br>
    </div>

    <div class="text-center">
      <h3><strong>Thông tin cột điểm</strong></h3>
    </div>
    <br>
    <% if @class_subject.scores.any? %>
      <% @class_subject.scores.includes(:sub_scores).each do |score| %>
        <div class="table-responsive col-md-4">
          <div class="table-exercise-scores">
            <%= render partial: "admin/class_subjects/sub_scores",
              locals: {score: score, class_subject: @class_subject} %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <br>
  <div class="text-center">
    <h3><strong>Danh sách sinh viên lớp học phần</strong></h3>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-vcenter table-striped table-bordered">
        <tdead>
          <tr>
            <th class="text-center"><strong>STT</strong></th>
            <th class="text-center"><strong>Mã sinh viên</strong></th>
            <th class="text-center"><strong>Họ và tên</strong></th>
            <th class="text-center"><strong>Email</strong></th>
            <th class="text-center"><strong>Chức vụ</strong></th>
            <th class="text-center"><strong>Ngày sinh</strong></th>
            <th class="text-center"><strong>Giới tính</strong></th>
            <th class="text-center"><strong>Số điện thoại</strong></th>
            <th class="text-center"><strong>Lớp sinh hoạt</strong></th>
            <th></th>
          </tr>
        </tdead>
        <tbody>
          <% if @class_subject.student_class_subjects.any? %>
            <% @class_subject.student_class_subjects.each_with_index do |student_class_subject, index| %>
              <tr>
                <% if student_class_subject.student.present? %>
                  <td class="text-center"><%= index + 1 %></td>
                  <td class="text-center"><%= student_class_subject.student.student_id %></td>
                  <td class="text-center"><%= student_class_subject.student.name %></td>
                  <td class="text-center"><%= student_class_subject.student.email %></td>
                  <td class="text-center"><%= student_class_subject.student.regency.name if student_class_subject.student.regency.present? %></td>
                  <td class="text-center"><%= student_class_subject.student.birthday.strftime("%d/%m/%Y") if student_class_subject.student.birthday.present? %></td>
                  <td class="text-center"><%= student_class_subject.student.gender %></td>
                  <td class="text-center"><%= student_class_subject.student.phone %></td>
                  <td class="text-center"><%= student_class_subject.student.student_class.name if student_class_subject.student.student_class.present? %></td>
                  <td class="text-center">
                    <div class="btn-group">
                      <%= link_to edit_admin_class_subject_student_class_subject_path(@class_subject, student_class_subject), class:"btn btn-xs btn-default" do %>
                        <i class="fa fa-pencil"></i>
                      <% end %>
                      <%= link_to admin_class_subject_student_class_subject_path(@class_subject, student_class_subject), method: :delete,
                        data: {confirm: "Bạn muốn xóa sinh viên này ra khỏi lớp học phần? "}, 
                        class:"btn btn-xs btn-danger" do %>
                        <i class="fa fa-times"></i>
                      <% end %>
                    </div>
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
