<%= form_for @curriculum_subject,
  url: admin_curriculum_curriculum_subjects_path(@curriculum, @curriculum_subject),
  html: {multipart: true, class: "form-horizontal"} do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="control-group">
    <%= f.label :subject, "Học phần" %>
    <%= f.select :subject_id, options_for_select(
      @subjects.collect{|subject| [subject.name, subject.id]},
      params[:subject_id]), {}, {class: "form-control"} %>
  </div>
  <br>
  <div class="control-group">
    <%= f.label :parallel_subject_id, "Học phần song hành" %>
    <%= f.select :parallel_subject_id, options_for_select(
      @subjects.collect{|parallel_subject| [parallel_subject.name, parallel_subject.id]},
      params[:parallel_subject_id]), {}, {class: "form-control"} %>
  </div>
  <br>
  <div class="control-group">
    <%= f.label :prerequisite_subject_id, "Học phần tiên quyết" %>
    <%= f.select :prerequisite_subject_id, options_for_select(
      @subjects.collect{|prerequisite_subject| [prerequisite_subject.name, prerequisite_subject.id]},
      params[:prerequisite_subject_id]), {}, {class: "form-control"} %>
  </div>
  <br>
  <div class="control-group">
    <%= f.label :study_first_subject_id, "Học phần học trước" %>
    <%= f.select :study_first_subject_id, options_for_select(
      @subjects.collect{|study_first_subject| [study_first_subject.name, study_first_subject.id]},
      params[:study_first_subject_id]), {}, {class: "form-control"} %>
  </div>
  <br>
  <div class="control-group">
    <%= f.label :gender, "Tự chọn" %>    
    <%= f.radio_button :is_elective, 0, :checked => true %> 
    <%= label :gender, "Không" %>
    <%= f.radio_button :is_elective, 1 %>
    <%= label :gender, "Có" %>
  </div>
  <br>
  <div class="form-actions">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <%= link_to "Hủy bỏ", admin_curriculum_path(@curriculum), class: "btn btn-default" %>
  </div>
  <br>
<% end %>
