<div class="block full">
  <div class="block-title">
    <h2><strong>Danh sách học phần</strong></h2>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= link_to new_admin_curriculum_curriculum_subject_path(@curriculum), class:"btn btn-success" do %>
        <i class="fa fa-plus"></i>
        Thêm học phần
      <% end %>
    </div>
    <div class="col-md-4">
      <%= form_tag import_admin_subjects_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
  <br>
  <div class="row text-center">
    <div class="table-responsive">
      <div class="col-md-8 col-md-offset-2">
        <table class="table table-vcenter table-striped table-bordered">
          <tdead>
            <tr>
              <th class="text-center"><strong>STT</strong></th>
              <th class="text-center"><strong>Mã học phần</strong></th>
              <th class="text-center"><strong>Tên học phần</strong></th>
              <th class="text-center"><strong>Số tín chỉ</strong></th>
              <th></th>
            </tr>
          </tdead>
          <tbody>
            <%= render partial: "subject", locals: {subjects: @subjects} %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
