<div class="block full">
  <div class="block-title">
    <h2><strong>Danh sách học phần tham gia giảng dạy</strong></h2>
  </div>
  <div class="row">
     <div class="col-md-4">
      <%= link_to new_lecturer_lecturer_subject_path, class:"btn btn-success" do %>
        <i class="fa fa-plus"></i>
        Thêm học phần
      <% end %>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-8 col-md-offset-2">
      <div class="table-responsive">
        <table class="table table-vcenter table-striped table-bordered">
          <tdead>
            <tr>
              <th class="text-center"><strong>STT</strong></th>
              <th class="text-center"><strong>Mã học phần</strong></th>
              <th class="text-center"><strong>Tên học phần</strong></th>
              <th class="text-center"><strong>Số tín chỉ</strong></th>
              <th class="text-center"><strong></strong></th>
            </tr>
          </tdead>
          <tbody>
            <% if @lecturer_subjects.any? %>
              <% @lecturer_subjects.each_with_index do |lecturer_subject, index| %>
                <tr>
                  <td class="text-center"><%= index + 1 %></td>
                  <td class="text-center"><%= lecturer_subject.subject.subject_id %></td>
                  <td class="text-center"><%= lecturer_subject.subject.name %></td>
                  <td class="text-center"><%= lecturer_subject.subject.num_of_credit %></td>
                  <td class="text-center">
                    <div class="btn-group">
                      <%= link_to edit_lecturer_lecturer_subject_path(lecturer_subject), class:"btn btn-xs btn-default" do %>
                        <i class="fa fa-pencil"></i>
                      <% end %>
                      <%= link_to [:lecturer, lecturer_subject], method: :delete,
                        data: {confirm: "Bạn muốn xóa học phần này? "}, 
                        class:"btn btn-xs btn-danger" do %>
                        <i class="fa fa-times"></i>
                      <% end %>
                    </div>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
