<%= form_for [:admin, @semester] , html: {multipart: true, 
  class: "form-horizontal"} do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <br>
  <div class="control-group">
    <%= f.label :name, "Học kỳ" %>
    <%= f.select :name, options_for_select(
      ["Học kỳ 1", "Học kỳ 2", "Học kỳ hè"]), {}, {class: "form-control"}%>
  </div>
  <br>
  <div class="control-group">
    <%= f.label :period, "Ngành" %>
    <%= f.select :period, options_for_select(
      ["#{Time.now.year}-#{Time.now.year + 1}", "#{Time.now.year + 1}-#{Time.now.year + 2}"]), {}, {class: "form-control"}%>
  </div>
  <br>
  <div class="form-actions">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <%= link_to "Hủy bỏ", admin_semesters_path, class: "btn btn-default" %>
  </div>
  <br>
<% end %>
