<% if semesters.any? %>
  <% semesters.each_with_index do |semester, index| %>
    <tr>
      <td class="text-center"><%= show_index(@semesters.current_page, index) %></td>
      <td class="text-center"><%= semester.semester_id %></td>
      <td class="text-center"><%= semester.name %></td>
      <td class="text-center"><%= semester.period %></td>
      <td class="text-center">
        <% if semester.status == 0 %>
          Hoạt động
        <% else %>
          Kết thúc
        <% end %>
      </td>
      <td class="text-center" style="width: 150px">
        <div class="btn-group">
          <% unless semester.status? %>
            <%= link_to admin_semester_path(semester, semester: {status: 1}), method: :patch, 
              data: {confirm: "Bạn muốn kết thúc học phần này học kỳ này này? "}, class:"btn btn-xs btn-primary" do %>
              Kết thúc
            <% end %>
            <%= link_to edit_admin_semester_path(semester), class:"btn btn-xs btn-default" do %>
              <i class="fa fa-pencil"></i>
            <% end %>
            <%= link_to [:admin, semester], method: :delete,
              data: {confirm: "Bạn muốn xóa học kỳ này này? "}, 
              class:"btn btn-xs btn-danger" do %>
              <i class="fa fa-times"></i>
            <% end %>
          <% else %>
            Đã kết thúc
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
<% end %>
