<div class="content-header">
  <ul class="nav-horizontal text-center">
    <li>
      <%= link_to "#" do %>
        <i class="gi gi-message_in"></i>
        <span>Thông báo</span>
      <% end %>
    </li>
    <li>
      <%= link_to lecturer_profiles_path do %>
        <i class="gi gi-user"></i>
        <span>Thông tin cá nhân</span>
      <% end %>
    </li>
    <li>
      <%= link_to lecturer_class_subjects_path do %>
        <i class="gi gi-cup"></i>
        <span>Lớp học phần</span>
      <% end %>
    </li>
    <li>
      <%= link_to student_curriculum_path(1) do %>
        <i class="gi gi-book_open"></i>
        <span>Chương trình đào tạo</span>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="gi gi-edit"></i>
        <span>Phúc khảo</span>
      <% end %>
    </li>
  </ul>
</div>
