<div id="sidebar">
  <div id="sidebar-scroll">
    <div class="sidebar-content">
      <a href="index.html" class="sidebar-brand">
        <span class="sidebar-nav-mini-hide"><strong>Giảng viên</strong></span>
      </a> 
      <% if lecturer_signed_in? %>
        <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
          <div class="sidebar-user-avatar">
             <%= image_tag current_lecturer.avatar.url%>
          </div>
          <div class="sidebar-user-name"><%= current_lecturer.name %></div>
          <div class="sidebar-user-links">
            <%= link_to lecturer_profiles_path do %>
              <i class="gi gi-user"></i>
            <% end %>
            <%= link_to edit_lecturer_profile_path(current_lecturer) do %>
              <i class="gi gi-cogwheel"></i>
            <% end %>
            <%= link_to destroy_lecturer_session_path, method: :delete do %>
              <i class="gi gi-exit"></i>
            <% end %>
          </div>
        </div>
      <% end %>
      <ul class="sidebar-nav">
        <li>
          <%= link_to lecturer_profiles_path do %>
            <i class="gi gi-user"></i>
            <span>Thông tin cá nhân</span>
          <% end %>
        </li>
        <li>
          <%= link_to lecturer_lecturer_subjects_path do %>
            <i class="gi gi-book_open"></i>
            <span>Danh sách học phần</span>
          <% end %>
        </li>

        <% if lecturer_signed_in? %>
          <li>
            <%= link_to "#", class: "sidebar-nav-menu" do %>
              <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-notes_2 sidebar-nav-icon"></i> <span class="sidebar-nav-mini-hide">Lớp học phần</span>
            <% end %>
            <ul>
              <%= view_object(:class_subject_tabs).html %>
              <li>
                <%= link_to lecturer_class_subjects_path do %>
                  Xem tất cả
                <% end %>
              </li>
            </ul>
          </li>

          <li>
            <%= link_to "#", class: "sidebar-nav-menu" do %>
              <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-notes_2 sidebar-nav-icon"></i> <span class="sidebar-nav-mini-hide">Lớp chủ nhiệm</span>
            <% end %>
            <ul>
              <%= view_object(:class_student_tabs).html %>
              <li>
                <%= link_to lecturer_student_classes_path do %>
                  Xem tất cả
                <% end %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
