<div id="sidebar">
  <div id="sidebar-scroll">
    <div class="sidebar-content">
      <a href="index.html" class="sidebar-brand">
        <i class="gi gi-flash"></i>
        <span class="sidebar-nav-mini-hide"><strong>DUT - IT</strong></span>
      </a>
      <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
        <div class="sidebar-user-avatar">
        </div>
        <div class="sidebar-user-name">John Doe</div>
        <div class="sidebar-user-links">
          <a href="page_ready_user_profile.html" data-toggle="tooltip" data-placement="bottom" title="Profile"><i class="gi gi-user"></i></a>
          <a href="#modal-user-settings" data-toggle="modal" class="enable-tooltip" data-placement="bottom" title="Settings"><i class="gi gi-cogwheel"></i></a>
          <a href="login.html" data-toggle="tooltip" data-placement="bottom" title="Logout"><i class="gi gi-exit"></i></a>
        </div>
      </div>
      <ul class="sidebar-nav">
        
        <li>
          <%= link_to "#" do %>
            <i class="gi gi-message_in"></i>
            <span>Thông báo</span>
          <% end %>
        </li>
        <li>
          <%= link_to lecturer_profiles_path do %>
            <i class="gi gi-user"></i>
            <span>Thông tin cá nhân</span>
          <% end %>
        </li>
        <li>
          <%= link_to lecturer_lecturer_subjects_path do %>
            <i class="gi gi-book_open"></i>
            <span>Danh sách học phần</span>
          <% end %>
        </li>


        <% if lecturer_signed_in? %>
          <li>
            <%= link_to "#", class: "sidebar-nav-menu" do %>
              <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-notes_2 sidebar-nav-icon"></i> <span class="sidebar-nav-mini-hide">Lớp học phần</span>
            <% end %>
            <ul>
              <%= view_object(:class_subject_tabs).html %>
              <li>
                <%= link_to lecturer_class_subjects_path do %>
                  Xem tất cả
                <% end %>
              </li>
            </ul>
          </li>

          <li>
            <%= link_to "#", class: "sidebar-nav-menu" do %>
              <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-notes_2 sidebar-nav-icon"></i> <span class="sidebar-nav-mini-hide">Lớp chủ nhiệm</span>
            <% end %>
            <ul>
              <%= view_object(:class_student_tabs).html %>
              <li>
                <%= link_to lecturer_student_classes_path do %>
                  Xem tất cả
                <% end %>
              </li>
            </ul>
          </li>
        <% end %>

        <li>
          <%= link_to "#" do %>
            <i class="gi gi-calendar"></i>
            <span>Lịch giảng dạy</span>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="gi gi-edit"></i>
            <span>Phúc khảo</span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
