<div class="row text-center">
  <div class="col-sm-6 col-lg-3">
    <%= link_to new_admin_student_class_path, class:"widget widget-hover-efect2" do %>
      <div class="widget-extra themed-background-success">
        <h4 class="widget-content-light"><strong>Thêm lớp sinh hoạt</strong></h4>
      </div>
      <div class="widget-extra-full"><span class="h2 tẽt-success animation-expandOpen"><i class="fa fa-plus"></i></span></div>
    <% end %>
  </div>
  <div class="col-sm-6 col-lg-3">
    <%= link_to "#", class:"widget widget-hover-effect2" do %>
      <div class="widget-extra themed-background-default">
        <h4 class="widget-content-light"><strong>Import file excel</strong></h4>
      </div>
      <div class="widget-extra-full"><span class="h2 tẽt-success animation-expandOpen"><i class="fa fa-plus"></i></span></div>
    <% end %>
  </div>
  <div class="col-sm-6 col-lg-3">
    <%= link_to "#", class:"widget widget-hover-effect2" do %>
      <div class="widget-extra themed-background-dark">
        <h4 class="widget-content-light"><strong>Tổng số lớp sinh hoạt</strong></h4>
      </div>
      <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen"><%= @student_classes.count %></span></div>
    <% end %>
  </div>
</div>

<div class="block full">
  <div class="block-title">
    <h2><strong>Danh sách lớp sinh hoạt</strong></h2>
  </div>

  <div class="row">
    <%= form_tag import_admin_student_classes_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import", class: "btn btn-success" %>
    <% end %>
  </div>
  <br>
  <div class="row text-center">
    <% if @student_classes.any? %>
      <div class="table-responsive">
      <div class="col-md-8 col-md-offset-2">
        <table class="table table-vcenter table-striped table-bordered">
          <tdead>
            <tr>
              <th class="text-center"><strong>STT</strong></th>
              <th class="text-center"><strong>Mã lớp sinh hoạt</strong></th>
              <th class="text-center"><strong>Tên lớp sinh hoạt</strong></th>
              <th class="text-center"><strong>Khoa</strong></th>
              <th></th>
            </tr>
          </tdead>
          <tbody>
            <%= render @student_classes %>
          </tbody>
        </table>
        <%= paginate @student_classes %>
      </div>
      </div>
    <% end %>
  </div>
</div>
