<div class="block full">
  <div class="block-title row">
    <div class="col-md-8">
      <h2><strong>Danh sách lớp sinh hoạt</strong></h2>
    </div>
    <div class="col-md-4">
      <%= text_field_tag :student_class_search, params[:student_class_search],
        placeholder: "Tìm kiếm...", class: "form-control search-box", style:"margin: 5px" %> 
    </div>
  </div>

  <div class="row col-md-offset-2">
    <div class="col-md-4">
      <%= link_to new_admin_student_class_path, class:"btn btn-success" do %>
        <i class="fa fa-plus"></i>
        Thêm lớp sinh hoạt
      <% end %>
    </div>
    <div class="col-md-4">
      <%= form_tag import_admin_student_classes_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
  <br>
  <div class="row text-center">
    <% if @student_classes.any? %>
      <div class="table-responsive">
      <div class="col-md-8 col-md-offset-2">
        <table class="table table-vcenter table-striped table-bordered">
          <tdead>
            <tr>
              <th class="text-center"><strong>STT</strong></th>
              <th class="text-center"><strong>Mã lớp sinh hoạt</strong></th>
              <th class="text-center"><strong>Tên lớp sinh hoạt</strong></th>
              <th class="text-center"><strong>Khoa</strong></th>
              <th></th>
            </tr>
          </tdead>
          <tbody class="list-student-classes">
            <%= render partial: "student_class", locals: {student_classes: @student_classes} %>
          </tbody>
        </table>
        <%= paginate @student_classes %>
      </div>
      </div>
    <% end %>
  </div>
</div>
