<h4 class="text-center"><strong>Điểm bài tập</strong></h4>
<table class="table table-vcenter table-striped table-bordered">
  <tdead>
    <tr>
      <th class="text-center"><strong>STT</strong></th>
      <th class="text-center"><strong>Tên cột</strong></th>
      <th class="text-center"><strong>Phần trăm</strong></th>
      <th class="text-center"><strong>
        <% if class_subject.exercise.nil? %>
          <%= link_to new_lecturer_class_subject_exercise_path(class_subject), class:"btn btn-xs btn-primary", remote: true do %>
            <i class="fa fa-plus"></i>
          <% end %>
        <% else %>
          <%= link_to edit_lecturer_class_subject_exercise_path(class_subject, class_subject.exercise), class:"btn btn-xs btn-default", remote: true do %>
            <i class="fa fa-pencil"></i>
          <% end %>
        <% end %>
      </strong></th>
    </tr>
  </tdead>
  <tbody>
    <% unless class_subject.exercise.nil? %>
      <% unless class_subject.exercise.exercise_scores.nil? %>
        <% class_subject.exercise.exercise_scores.each_with_index do |exercise_score, index| %>
          <tr>
            <td class="text-center"><%= index + 1 %></td>
            <td class="text-center"><%= exercise_score.name %></td>
            <td class="text-center"><%= exercise_score.percent %></td>
            <td></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
<div class="exercise-score-modal"></div>
