<div class="container" style="margin-top: 150px; ">
  <section id="content">
    <h1>Đăng nhập</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div>
        <%= f.text_field :student_id, id: "username", required: "", placeholder: "Mã sinh viên" %>
      </div>
      <div>
        <%= f.password_field :password, placeholder: "Mật khẩu", id: "password" %>
      </div>
      <div class="row col-md-offset-4">
        <%= f.submit "Đăng nhập" %>
      </div>
      <div class="flash-notification">
        <%= render "layouts/flash" %>
      </div>
    <% end %>
  </section>
</div>
