<div class="block full">
  <div class="block-title">
    <h2><strong>Danh sách lớp học phần tham gia giảng dạy</strong></h2>
  </div>

  <div class="row text-center">
    <div class="md-col-8 md-col-offset-2">
    <div class="table-responsive">
      <table class="table table-vcenter table-striped table-bordered">
        <tdead>
          <tr>
            <th class="text-center"><strong>STT</strong></th>
            <th class="text-center"><strong>Mã lớp học phần</strong></th>
            <th class="text-center"><strong>Mã học phần</strong></th>
            <th class="text-center"><strong>Tên học phần</strong></th>
            <th class="text-center"><strong>Số tín chỉ</strong></th>
            <th class="text-center"><strong>Học kỳ</strong></th>
            <th class="text-center"><strong>Năm học</strong></th>
            <th class="text-center"><strong>Quản lý điểm</strong></th>
          </tr>
        </tdead>
        <tbody>
          <% if @class_subjects.any? %>
            <% @class_subjects.each_with_index do |class_subject, index| %>
              <tr>
                <td class="text-center"><%= index +1 %></td>
                <td class="text-center">
                  <%= link_to lecturer_class_subject_path class_subject do %>
                    <span><%= class_subject.class_subject_id %></span>
                  <% end %>
                </td>
                <td class="text-center"><%= class_subject.lecturer_subject.subject.subject_id %></td>
                <td class="text-center"><%= class_subject.lecturer_subject.subject.name %></td>
                <td class="text-center"><%= class_subject.lecturer_subject.subject.num_of_credit %></td>
                <td class="text-center"><%= class_subject.semester.name %></td>
                <td class="text-center">
                  <%= class_subject.semester.period %>
                </td>
                <td class="text-center">
                  <%= link_to "Xem", lecturer_class_subject_subject_scores_path(class_subject) %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>
