<div class="block full">
  <div class="block-title">
    <h2><strong>Thông tin lớp học phần</strong></h2>
  </div>

  <div class="row">
    <div class="row">
      <div class="col-md-2 left">
        <span>Mã lớp học phần:</span>
      </div>
      <div class="col-md-3 left">
        <strong><%= @class_subject.class_subject_id %></strong>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 left">
        <span>Tên học phần:</span>
      </div>
      <div class="col-md-3 left">
        <strong><%= @class_subject.lecturer_subject.subject.name %></strong>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 left">
        <span>Học kỳ:</span>
      </div>
      <div class="col-md-3 left">
        <strong><%= @class_subject.semester.name %></strong>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 left">
        <span>Năm học:</span>
      </div>
      <div class="col-md-3 left">
        <strong><%= @class_subject.semester.begin_time %>-<%= @class_subject.semester.end_time %></strong>
      </div>
    </div>
    <br>
    <% if @class_subject.scores.any? %>
      <% @class_subject.scores.includes(:sub_scores).each do |score| %>
        <div class="table-responsive col-md-4">
          <div class="table-exercise-scores">
            <%= render partial: "lecturer/scores/sub_scores",
              locals: {score: score, class_subject: @class_subject} %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
