<div class="block full">
  <div class="block-title">
    <h2><strong>Thông tin lớp học phần</strong></h2>
  </div>

  <div class="row">
    <div class="row">
      <div class="col-md-2 left">
        <span>Mã lớp học phần:</span>
      </div>
      <div class="col-md-3 left">
        <strong><%= @class_subject.class_subject_id %></strong>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 left">
        <span>Tên học phần:</span>
      </div>
      <div class="col-md-3 left">
        <strong><%= @class_subject.lecturer_subject.subject.name %></strong>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 left">
        <span>Học kỳ:</span>
      </div>
      <div class="col-md-3 left">
        <strong><%= @class_subject.semester.name %></strong>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 left">
        <span>Năm học:</span>
      </div>
      <div class="col-md-3 left">
        <strong><%= @class_subject.semester.begin_time %>-<%= @class_subject.semester.end_time %></strong>
      </div>
    </div>
    <br>
    <div class="table-responsive col-md-4">
      <div class="table-exercise-scores">
        <%= render partial: "lecturer/exercises/exercise_scores", locals: {class_subject: @class_subject} %>
      </div>
    </div>
    <div class="table-responsive col-md-4">
      <div class="table-mid-semester-scores">
        <%= render partial: "lecturer/mid_semester_scores/mid_semester_scores", locals: {class_subject: @class_subject} %>
      </div>
    </div>

    <div class="table-responsive col-md-4">
      <div class="table-end-semester-scores">
        <%= render partial: "lecturer/end_semester_scores/end_semester_scores", locals: {class_subject: @class_subject} %>
      </div>
    </div>
  </div>
</div>
