<div class="content-header">
  <ul class="nav-horizontal text-center">
    <li>
      <%= link_to "#" do %>
        <i class="gi gi-message_in"></i>
        <span>Học phần</span>
      <% end %>
    </li>
    <li>
      <%= link_to student_profile_path(1) do %>
        <i class="gi gi-user"></i>
        <span>Giảng viên</span>
      <% end %>
    </li>
    <li>
      <%= link_to student_score_path(1) do %>
        <i class="gi gi-cup"></i>
        <span>Sinh viên</span>
      <% end %>
    </li>
    <li>
      <%= link_to student_curriculum_path(1) do %>
        <i class="gi gi-book_open"></i>
        <span>Chương trình đào tạo</span>
      <% end %>
    </li>
    <li>
      <%= link_to student_curriculum_path(1) do %>
        <i class="gi gi-book_open"></i>
        <span>Danh sách lớp học phần</span>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="gi gi-edit"></i>
        <span>Thông báo</span>
      <% end %>
    </li>
  </ul>
</div>
