<div id="sidebar">
  <div id="sidebar-scroll">
    <div class="sidebar-content">
      <div  class="sidebar-brand">
        <span class="sidebar-nav-mini-hide"><strong>Giảng viên</strong></span>
      </div> 
      <% if admin_signed_in? %>
        <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
          <div class="sidebar-user-avatar">
             <%= image_tag current_admin.avatar.url%>
          </div>
          <div class="sidebar-user-name"><%= current_admin.name %></div>
          <div class="sidebar-user-links">
            <%= link_to admin_profiles_path do %>
              <i class="gi gi-user"></i>
            <% end %>
            <%= link_to edit_admin_profile_path(current_admin) do %>
              <i class="gi gi-cogwheel"></i>
            <% end %>
            <%= link_to destroy_admin_session_path, method: :delete do %>
              <i class="gi gi-exit"></i>
            <% end %>
          </div>
        </div>
      <% end %>
      <ul class="sidebar-nav">
        <li>
          <%= link_to admin_profiles_path do %>
            <i class="gi gi-user"></i>
            <span>Thông tin cá nhân</span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_lecturers_path do %>
            <i class="fa fa-users"></i>
            <span>Giảng viên</span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_students_path do %>
            <i class="fa fa-users"></i>
            <span>Sinh viên</span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_curriculums_path do %>
            <i class="gi gi-book_open"></i>
            <span>Chương trình đào tạo</span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_semesters_path do %>
            <i class="gi gi-calendar"></i>
            <span>Học kỳ</span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_subjects_path do %>
            <i class="fa fa-book"></i>
            <span>Học phần</span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_class_subjects_path do %>
            <i class="fa fa-list-ul"></i>
            <span>Danh sách lớp học phần</span>
          <% end %>
        </li>
        <li>
          <%= link_to admin_student_classes_path do %>
            <i class="fa fa-list-ul"></i>
            <span>Danh sách lớp sinh hoạt</span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
