<div id="exercise-score-modal" class="modal fade course-member" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content modal-content-info-user"> 
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Cột điểm bài tập</h4>
      </div>
      <div>
        <%= form_for [:lecturer, class_subject, @exercise_score], remote: :true do |f| %>
          <div class="modal-body">
            <%= f.label :name, "Tên cột điểm" %>
            <%= f.text_field :name, placeholder: "Tên cột điểm", 
              class: "form-control" %>
            <br>
            <%= f.label :percent, "Phần trăm" %>
            <%= f.select :percent,
              options_for_select([10,20,30,40,50,60,70,80,90,100], 100), {}, {class: "form-control"} %>
            <br>
          </div>
          <div class="modal-footer modal-footer-info-user">
            <%= button_tag type: :submit, class: "btn btn-primary" do %>
              <%= button_text %>
            <% end %>
            <%= button_tag "Hủy bỏ", class:"btn btn-default",
               data: {dismiss:"modal"} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
