<div id="sidebar">
  <div id="sidebar-scroll">
    <div class="sidebar-content">
      <a href="index.html" class="sidebar-brand">
        <i class="gi gi-flash"></i>
        <span class="sidebar-nav-mini-hide"><strong>DUT - IT</strong></span>
      </a>
      <% if student_signed_in? %>
        <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
          <div class="sidebar-user-avatar">
            <%= image_tag current_student.avatar.url %>
          </div>
          <div class="sidebar-user-name"><%= current_student.name %></div>
          <div class="sidebar-user-links">
            <%= link_to student_profiles_path do %>
              <i class="gi gi-user"></i>
            <% end %>
            <%= link_to edit_student_profile_path(current_student) do %>
              <i class="gi gi-cogwheel"></i>
            <% end %>
            <%= link_to destroy_student_session_path, method: :delete do %>
                <i class="gi gi-exit"></i>
              <% end %>
          </div>
        </div>
      <% end %>
      <ul class="sidebar-nav">
        <li>
          <%= link_to student_profiles_path do %>
            <i class="gi gi-user"></i>
            <span>Thông tin cá nhân</span>
          <% end %>
        </li>
        <li>
          <%= link_to student_scores_path do %>
            <i class="gi gi-cup"></i>
            <span>Kết quả học tập</span>
          <% end %>
        </li>
        <li>
          <%= link_to student_curriculums_path do %>
            <i class="gi gi-book_open"></i>
            <span>Chương trình đào tạo</span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
